# Ignore python cache files
__pycache__/
*.pyc


# Ignore MacOS folder file
.DS_STORE

# Ignore pycharm idea folder
.idea

# Ignore notes
nltk_data

# Ignore chimp-env
chimp-env/

# Ignore pickled files
#pickle_files/

# Ignore results
#results/
.pytest_cache
testing.py

